<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div>
            <input name="username" id="username" type="text" placeholder="username" />
            <label for="name">Nome de Usuário</label>
        </div>
        <div>
            <input name="password" id="password" type="password" placeholder="Password" />
            <label for="password">Senha do Usuário</label>
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
        {{ erro }}
    </form>
</body>
</html>