{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/plyr.css' %}">
	<link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
	<link rel="stylesheet" href="{% static 'css/default-skin.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'icon/favicon-32x32.png" sizes="32x32' %}">
	<link rel="apple-touch-icon" href="{% static 'icon/favicon-32x32.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-touch-icon-144x144.png' %}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>Registro</title>

</head>
<body class="body">
	<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form action="{% url 'register' %}" class="sign__form" method="POST">
                            {% csrf_token %}

							<a href="{% url 'main' %}" class="sign__logo">
								<img src="{% static 'img/logo.svg' %}" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Nome de usuário" name="username">
							</div>

                            <div class="sign__group">
								<input type="text" class="sign__input" placeholder="Primeiro nome" name="first_name">
							</div>

                            <div class="sign__group">
								<input type="text" class="sign__input" placeholder="Último nome" name="last_name">
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Email" name="email">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Senha" name="password">
							</div>
							
							<button class="sign__btn" type="submit">Sign up</button>
                            {{ erro }}

							<span class="sign__text">Já tem uma conta? <a href="{% url 'login' %}">Logue!</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.mousewheel.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script src="js/wNumb.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/plyr.min.js"></script>
	<script src="js/jquery.morelines.min.js"></script>
	<script src="js/photoswipe.min.js"></script>
	<script src="js/photoswipe-ui-default.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div>
            <input name="username" id="username" type="text" placeholder="username" />
            <label for="name">Nome de Usuário</label>
        </div>
        <div>
            <input name="password" id="password" type="password" placeholder="Password" />
            <label for="password">Senha do Usuário</label>
        </div>
        <div>
            <input name="email" id="email" type="email" placeholder="email" />
            <label for="email">Email do Usuário</label>
        </div>
        <div>
            <input name="first_name" id="first_name" type="first_name" placeholder="first_name" />
            <label for="first_name">Primeiro Nome</label>
        </div>
        <div>
            <input name="last_name" id="last_name" type="last_name" placeholder="last_name" />
            <label for="last_name">Último Nome</label>
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
        {{ erro }}
    </form>
</body>
</html> -->